body {
    width: 960px;
    background-color: black;
    margin-left: 25%;
    margin-right: 25%;

    background-image: url("/city.jpg");
}

#logo
{
    alignment: center;
    background-image: url("/div.jpg");
    width: 960px;
    height: 250px;
    border-style: solid;
    border-width: 5px;
    border-color: white;
    margin-top: 10px;
    margin-bottom: 10px;

}

#content {
    overflow: auto;
    height: 100%;
}

#feature {
    background-color: rgb(0,0,0);
    opacity: 0.5;
    text-align: center;
    padding: 10px;
    margin: 10px;
    height: 200px;
    overflow: hidden;
}

#footer {
    text-align: center;
    background-color: rgb(0,0,0);
    opacity: 0.5;
    margin: 10px;
    height: 30px;
}

#navigation {
    text-align: center;
}

.column1, .column2, .column3 {
    background-color: rgb(0,0,0);
    opacity: 0.5;
    width: 300px;
    height: 300px;

    float: left;
    margin: 10px;
    text-align: center;
    overflow: hidden;

}

li {
    display: inline;
    padding: 5px;
}

h1 {
    text-align: center;
    color: white;

}

p {
    padding: 20px;
    color: white;

}